body{
	background-color: white;
}
.navbar {
	outline: 1px solid lightgrey;
	min-height: 50px;
}

.menu-flex, .page-flex {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	
	align-items: center;
	min-height: calc(100vh - 83px);
	height: auto;
	width: 100%;

}
.pizza-flex{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-around;
	align-content: center;

	
}
.menu-table{
	border: none;
	margin-bottom: 25px;
	
	
}
.menu-style{
	display: flex;
	justify-content: center;
	align-content: center;
	
	
}
.small{
	font-size: 100%;
}
.order-button{
	width: 6rem;
}
.topping-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: auto;
}
.navbar-text {
	padding-right: 1rem;
}


.cart-header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.header{
	display: flex;
	flex-wrap: wrap;
	min-width: 75%;
}
.cart-items{
	border: 1px solid lightgrey;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.add-item-button{
	display: flex;
	min-width: 25%;
	justify-content: center;
	align-items: center;	
}
.hide-input {
	border:none;
	font-weight: bold;
	color: black;
	text-decoration: underline;
}



.modal-flex{
	display: flex;
	width: 100%;
}
.modal-flex-items{
	display: flex;
	flex-direction: column;
	
	width: 50%;
}
.modal-items-header{
	display: flex;
	justify-content: center;
	min-width: 100%;
	height: auto;
}
#accordion {
	min-width: 100%;
}
.list-group-horizontal{
	display: flex;
	flex-wrap: wrap;
}
.list-group-item:hover{
	background-color: #007bff;
	color: white;
}


.cart-flex-div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50vw;
	height: auto;
	outline: 1px solid lightgrey;
	padding: 10px;
}
.cart-title{
	font-size: 1.25rem;
	font-weight: bold;
}
.cart-price, .cart-toppings,.cart-extras, .cart-size{
	font-size: 1rem;
	font-weight: bold;
}
.cart-size-span{
	font-size: 1rem;
	font-weight: normal;
}
.cart-remove_div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.total-cart-flex{
	border-top: 1px solid grey;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}
.cart-total-div{
	font-weight: bold;
	font-size: 1.5rem;
}
.order-button{
	display: flex;
	width: 100%;
	justify-content: center;
}
.past-header{
	border: 1px solid lightgrey;
	padding: 10px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}
.admin-item{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 10px;
	border: 1px solid lightgrey;
	padding: 10px;

}
.admin-headers{
	font-weight: bold;
}
.admin-span{
	font-weight: normal;
}

